---
import HomeTitle from "@/components/HomeTitle.astro";
import ButtonGroup from "@/components/ButtonGroup.astro";
import Button from "@/components/Button.astro";
import DarkLightButton from "@/components/DarkLightButton.astro";

interface Props {
  title: string;
  subtitle: string;
  primaryLabel: string;
  primaryHref: string;
  secondaryLabel?: string;
  secondaryHref?: string;
  tertiaryLabel: string;
  tertiaryHref: string;
}

const {
  title,
  subtitle,
  primaryLabel,
  primaryHref,
  secondaryLabel,
  secondaryHref,
  tertiaryLabel,
  tertiaryHref,
} = Astro.props;
---

<Fragment>
  <HomeTitle title={title} subtitle={subtitle} />
  <ButtonGroup>
    <Button href={primaryHref}>{primaryLabel}</Button>
    {
      secondaryLabel && secondaryHref ? (
        <DarkLightButton href={secondaryHref}>{secondaryLabel}</DarkLightButton>
      ) : null
    }
    <DarkLightButton href={tertiaryHref}>{tertiaryLabel}</DarkLightButton>
  </ButtonGroup>
</Fragment>
