---
import HomeTitle from "@/components/HomeTitle.astro";
import ButtonGroup from "@/components/ButtonGroup.astro";
import Button from "@/components/Button.astro";
import DarkLightButton from "@/components/DarkLightButton.astro";

interface Props {
  title: string;
  subtitle: string;
  rampLabel: string;
  rampHref: string;
  primaryLabel: string;
  primaryHref: string;
  tertiaryLabel: string;
  tertiaryHref: string;
}

const {
  title,
  subtitle,
  rampLabel,
  rampHref,
  primaryLabel,
  primaryHref,
  tertiaryLabel,
  tertiaryHref,
} = Astro.props;
---

<Fragment>
  <HomeTitle title={title} subtitle={subtitle} />
  <ButtonGroup>
    <Button href={rampHref}>{rampLabel}</Button>
    <DarkLightButton href={primaryHref}>{primaryLabel}</DarkLightButton>
    <DarkLightButton href={tertiaryHref}>{tertiaryLabel}</DarkLightButton>
  </ButtonGroup>
</Fragment>
